@model ElearnerApp.ViewModels.ContentViewModel
@{
    ViewBag.Title = "Content";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container contentPage">
    <div class="col-sm-10 col-sm-push-1">
        <h2 class="text-center">@Model.Course.Name</h2>

        <section>
            <div class="row">
                @Model.Content.TextContent

            </div>
        </section>

        <section>
            <div>
                <div class="embed-responsive embed-responsive-16by9 embed">
                    <iframe class="embed-responsive-item" src=@Model.Content.VideoUrl frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </section>

        <div class="text-center">
            <input id="quiz" type="button" class="btn btn-info" value="Take Quiz"
                   onclick="location.href='@Url.Action("Quiz", "Courses", new { Id = Model.Course.Id})'" />
        </div>

        <section>
            @using (Html.BeginForm("Content", "Courses", FormMethod.Post))
            {
                <div class="row">
                    <div class="col-sm-10 col-sm-push-1">
                        @Html.HiddenFor(c => c.Course.Id)
                        <div class="form-group textarea">
                            <p>Comment</p>
                            @Html.TextAreaFor(s => s.Subscription.Comment)
                        </div>
                    </div>
                </div>

                if (ViewBag.Message != null && ViewBag.Message)
                {
                    <div class="row">
                        <div class="col-sm-4 col-sm-push-1">
                            <div class="alert alert-success">
                                <p><strong>Your comment has been registered!</strong></p>
                            </div>
                        </div>
                    </div>
                }
                if (ViewBag.Message != null && !ViewBag.Message)
                {
                    <div class="row">
                        <div class="col-sm-4 col-sm-push-1">
                            <div class="alert alert-danger">
                                <p><strong>You should comment and rate</strong></p>
                            </div>
                        </div>
                    </div>

                }

                <div class="row">
                    <div class="col-sm-4 col-sm-push-1">
                        <div class="form-group">
                            <span>Rate</span>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-primary">
                                    @Html.RadioButtonFor(m => m.Subscription.Rate, 1, new { id = "radio1" })<span class="glyphicon glyphicon-star unchecked"></span>
                                </label>
                                <label class="btn btn-primary">
                                    @Html.RadioButtonFor(m => m.Subscription.Rate, 2, new { id = "radio2" })<span class="glyphicon glyphicon-star unchecked"></span>
                                </label>
                                <label class="btn btn-primary">
                                    @Html.RadioButtonFor(m => m.Subscription.Rate, 3, new { id = "radio3" }) <span class="glyphicon glyphicon-star unchecked"></span>
                                </label>
                                <label class="btn btn-primary">
                                    @Html.RadioButtonFor(m => m.Subscription.Rate, 4, new { id = "radio4" }) <span class="glyphicon glyphicon-star unchecked"></span>
                                </label>
                                <label class="btn btn-primary">
                                    @Html.RadioButtonFor(m => m.Subscription.Rate, 5, new { id = "radio5" })<span class="glyphicon glyphicon-star unchecked"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="Comment and Rate">
                        </div>
                    </div>


                </div>
            }
        </section>

    </div>


</div>

<script src="~/Scripts/jquery-3.2.1.js"></script>
<script>
    $(function () {
        $("#radio1").change(function () {


            $("#radio2").parent().removeClass("active focus");
            $("#radio3").parent().removeClass("active focus");
            $("#radio4").parent().removeClass("active focus");
            $("#radio5").parent().removeClass("active focus");

        });

        $("#radio2").change(function () {

            $("#radio1").parent().addClass("active focus ");

            $("#radio3").parent().removeClass("active focus ");
            $("#radio4").parent().removeClass("active focus");
            $("#radio5").parent().removeClass("active focus");

        });

        $("#radio3").change(function () {

            $("#radio1").parent().addClass("active focus");
            $("#radio2").parent().addClass("active focus");

            $("#radio4").parent().removeClass("active focus");
            $("#radio5").parent().removeClass("active focus");

        });

        $("#radio4").change(function () {

            $("#radio1").parent().addClass("active focus");
            $("#radio2").parent().addClass("active focus");
            $("#radio3").parent().addClass("active focus");

            $("#radio5").parent().removeClass("active focus");

        });

        $("#radio5").change(function () {

            $("#radio1").parent().addClass("active focus");
            $("#radio2").parent().addClass("active focus");
            $("#radio3").parent().addClass("active focus");
            $("#radio4").parent().addClass("active focus");

        });
    });
</script>