@model ElearnerApp.Models.Account
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("LogIn", "Authedication", FormMethod.Post))
{
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="form-horizontal">
                <h2>Login</h2> <br />
                @{
                    if ((Boolean)Session["wrongAuthedication"])
                    {
                        <h3 style="color:red">Account does not exists!</h3>
                    }
                 
                }
                @Html.AntiForgeryToken()    @*this is to prevent CSRF attack*@

                <div class="form-group">
                    @Html.LabelFor(a => a.Email)
                    @Html.TextBoxFor(a => a.Email, new { @class = "form-control", @placeholder = "test@test.com" })
                    @Html.ValidationMessageFor(a => a.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(a => a.Password)
                    @Html.PasswordFor(a => a.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(a => a.Password, "", new { @class = "text-danger" })
                </div>
                @if (ViewBag.NotMatching == true)
                {
                    <p class="text-danger">Email and Password don't match!</p>
                }
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Log In">
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <h3 class="text-info">If you do not have account</h3>
            <a class="btn btn-info btnLink" href="@Url.Action("SignUpform")" role="button">Sign Up for Students...</a>
            <br />
            <a class="btn btn-info btnLink" href="@Url.Action("SignUpTeacherForm")" role="button">Sign Up for Teachers...</a>
        </div>
    </div>
</div>
    
 }
