@model ElearnerApp.ViewModels.SignUpViewModel
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sign Up Now!</h2>

@using (Html.BeginForm("SignUpStudent", "Authedication",FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("First name") 
        @Html.TextBoxFor(m => m.UserPersonalInfo.Name, new { @class = "form-control" , @placeholder = "ex. Jonh"})
        @Html.ValidationMessageFor(m => m.UserPersonalInfo.Name)
    </div>
    <div class="form-group">
        @Html.Label("Last name") 
        @Html.TextBoxFor(m => m.UserPersonalInfo.Lastname, new { @class = "form-control", @placeholder = "ex. Doe"})
        @Html.ValidationMessageFor(m => m.UserPersonalInfo.Lastname)
    </div>
    <div class="form-group">
        @Html.Label("Date of Birth")
        @Html.TextBoxFor(m => m.UserPersonalInfo.Birthdate, new { @class = "form-control", @placeholder = "ex. 1/1/1900"})
        @Html.ValidationMessageFor(m => m.UserPersonalInfo.Birthdate)
    </div>
    <div class="form-group">
        @Html.Label("Deposit")
        @Html.TextBoxFor(m => m.UserBankAccount.Deposit, new { @class = "form-control", @placeholder = "ex. 10.34" })
        @Html.ValidationMessageFor(m => m.UserBankAccount.Deposit)
    </div>
    <div class="form-group">
        @Html.Label("Email Address")
        @Html.TextBoxFor(m => m.UserAccount.Email, new { @class = "form-control", @placeholder = "ex. example@otherExample.com"})
        @Html.ValidationMessageFor(m => m.UserAccount.Email)
    </div>
    <div class="form-group">
        @Html.Label("Password")
        @Html.PasswordFor(m => m.UserAccount.Password, new { @class = "form-control", @placeholder = "ex. P@ssw0rd78"})
        @Html.ValidationMessageFor(m => m.UserAccount.Password)
    </div>
    <div class="form-group">
        @Html.Label("Confirmation Password")
        @Html.PasswordFor(m => m.ConfirmationPassword, new { @class = "form-control", @placeholder = "ex. re-type P@ssw0rd78"})
        @Html.ValidationMessageFor(m => m.ConfirmationPassword)
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>

}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval");
}



