@model ElearnerApp.ViewModels.SearchViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["InvalidSearchMessage"] != null)
{
    <div class="text-danger"><h2>@TempData["InvalidSearchMessage"]</h2></div>
}

@{
    List<SelectListItem> orderTypes = new List<SelectListItem>();
    orderTypes.Add(new SelectListItem() { Text = "Name", Value = "Name" });
    orderTypes.Add(new SelectListItem() { Text = "Price", Value = "Price" });
    orderTypes.Add(new SelectListItem() { Text = "Duration", Value = "Duration" });
}

@using (Html.BeginForm("SearchResult", "Courses", FormMethod.Post))
{
    <div class="row">
        <div class=" form-group col-xs-6 col-lg-2">
            @Html.LabelFor(x => x.Query)
            @Html.TextBoxFor(x => x.Query, new { @class = "form-control" })
        </div>
        <div class=" form-group col-xs-6 col-lg-2">
            @Html.LabelFor(x => x.Order)
            @Html.DropDownListFor(x => x.Order, orderTypes, "Select", new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class=" form-group col-xs-6 col-lg-2">
            @Html.LabelFor(x => x.LowerBoundPrice)
            @Html.TextBoxFor(x => x.LowerBoundPrice, new { @class = "form-control" })
        </div>
        <div class=" form-group col-xs-6 col-lg-2">
            @Html.LabelFor(x => x.UpperBoundPrice)
            @Html.TextBoxFor(x => x.UpperBoundPrice, new { @class = "form-control" })
        </div>
    </div>
        <div class="row">
            <div class=" form-group col-xs-6 col-lg-2">
                @Html.LabelFor(x => x.LowerBoundDuration)
                @Html.TextBoxFor(x => x.LowerBoundDuration, new { @class = "form-control" })
            </div>
            <div class=" form-group col-xs-6 col-lg-2">
                @Html.LabelFor(x => x.UpperBoundDuration)
                @Html.TextBoxFor(x => x.UpperBoundDuration, new { @class = "form-control" })
            </div>
        </div>
        <button class="btn btn-lg btn-primary" type="submit">Search</button>
}
@*//TODO: Limit description words *@
@Html.Partial("MostPopular")
@Html.Partial("FreeCourses")



